body {
  background-color: #f6f6f6;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 862px) {
  .menu {
    display: flex;
    width: 90%;
  }
  .submenu {
    margin: auto;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media(max-width: 410px) {
  .menu {
    display: block;
    width: 90%;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 300%;
  }
  .main-section {
    flex-direction: column;
  }
}

#main-title {
  color: #20a001;
  font-size: 48px;
  margin: 0;
}

.subtitle {
  color: #86ea66; 
}

.main-section {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 0 3px #ccc;
  display: flex;
  flex-wrap: wrap;
}

.menu {
  margin: 10px;
  padding: 10px;
  background-color: #86ea66;
  color: #ffffff;
}

.menu h2 {
  background-image: linear-gradient(#108a01, #38bf01);
  border-radius: 5px 0 0 5px;
  padding: 5px 45px 5px 15px;
  font-weight: normal;
}

.submenu ul {
  list-style-type: decimal;
  padding-left: 30px;
}

.submenu hr {
  margin-left: -15px;
  border: none;
  border-top: dashed 1px #a3f389;
  width: 100%;
}

.articles {
  flex: 70%;
  margin: 10px;
  padding: 10px;
}

.articles h2 {
  font-size: 2.2em;
  font-weight: normal;
  margin-bottom: 5px;
  color: #666666;
}

.articles p, li {
  font-size: 0.9em;
  line-height: 1.4;
}

.articles hr {
  border: none;
  border-top: dotted 2px #bcb9b0;
}


.post-info {
  font-size: 0.8em !important;
  color: #66a342;
}

.post-info a {
  color: #34ba01;
}

.btn {
  border: 1px solid #cccccc;
  border-radius: 15px;
  background-image: linear-gradient(#ffffff, #dadada);
  color: #000000;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.table-1 {
  margin: 10px 0;
  border: 2px solid black;
  border-top: 2px solid #d1d1d1;
  border-left: 2px solid #d1d1d1;
  width: 100px;
  text-align: left;
}

.table-1 th {
  background-color: #99ccff;
}

table, th, td {
  border: 1px solid black;
}

.special-text {
  font-weight: bold;
  font-style: italic;
}

footer {
  color: #86ea66;
  margin: 20px auto;
  font-size: 0.8em;
  text-align: center;
}